@media only screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
    flex-flow: column wrap;
  }

  .hero-image{
    height: 50%;
    top: 0;
    left: 0;
    padding: 0;
  }
}

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
   color: #000;
   font-family: 'Arvo', serif;
}

.container{
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
}

.banner{
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
}

.hero-image {
  /* Set a specific height */
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 50px;
}

/* Place text in the middle of the image */

.search-container{
  display:inline-block;
  position:relative;
}
